syntax: glob
# Temporary files used by the oXygen editor
*.~
*~
*.bak
*-swp
# Temporary directories and files by Python
__pycache__
*.pyc
*.pyo
.tmp/
.sass-cache/

# Temporary files used by the vim editor.
.*.swp
frameworks/db-xslt2/tools/lib/cachedir/packages/*.pkc
frameworks/db-xslt2/tools/lib/cachedir/packages/packages.idx
frameworks/tests/xspec/*
*.orig
*.html

en/xml/*.resolved

xml/fo/*.fo
xml/fo/xslt/*.fo
xml/fo/*.pdf
xml/fo/xslt/*.pdf


build/*
build-20??????/*
test-output/*
tmp/

*.zip
*.tar.*
