/*
 * CSS File for the DocCookBook
 * https://sourceforge.net/projects/doccookbook/
 * 
 * Author: Thomas Schraitle
 */
 
@import url(default.css);
@import url(opensans.css);
/* Crimson+Text:400,400italic,600,600italic */
@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700,700italic|Neuton:400,300,400italic,700|Ubuntu+Mono:400,400italic,700,700italic);


body {
  margin-left:2em;
  margin-right:2em;
}

/* Fonts */
body,
div.toc p {
  font-family: 'Open Sans', 'DejaVu Sans Condensed', sans;
  font-style:normal;
}
p {
  font-family:Neuton, 'Crimson Text', 'PT Serif', serif;
  font-weight:normal;
  font-size:130%;
}
code, .command, a, pre {
  font-family:'Ubuntu Mono',monospace;
  /*font-size:110%;*/
}
pre {
  font-size:110%;
  line-height:1.1;
}
p a[href^='#'], 
p a[href^='file:'] {
  font-family:Neuton, 'Crimson Text', 'PT Serif', serif;
  font-size:80%;
  font-weight:300;
  /*color:orange;*/
  /*font-size:110%;*/
}

/* */
div.book-titlepage {
  margin-top:2em;
  text-align: center;
}
div.book-titlepage h1 {
  font-weight:800;
  font-size:500%;
  margin-bottom:12pt;
  text-shadow:4px 4px 5px rgba(0,0,0,0.15);
}

div.book-titlepage h2:before {
  content:"\2767";
  display:block;
  text-align:center;
  margin-bottom:.5em;
  font-size:1.75em;
}
div.book-titlepage h2 {
  font-size:260%;
}

div.book-titlepage div.author h3 {
  font-size:150%;
}
div.book-titlepage div.othercredit {
  text-align:left;
}

div.book-titlepage div.legalnotice div.sidebar
{
  text-align:left;
  font-size:smaller;
  margin-top:3em;
  margin-bottom:3em;
  margin-left:10%;
  margin-right:10%;
  padding:1em;
  border:2pt solid black;
  background-color:#FFFDB7;
  -moz-border-radius:.5em;
  -moz-box-shadow:3px 3px 10px rgba(0,0,0,0.2);
  -webkit-border-radius:1em;
  -webkit-box-shadow:3px 3px 10px rgba(0,0,0,0.2);
}

div.book-titlepage h2,
div.book-titlepage h3 {
  font-weight:400;
}


div.legalnotice div.sidebar div.sidebar-content {
  padding-top:0;
}
div.legalnotice div.sidebar div.sidebar-content td img {
  padding-right:1em;
}

div.legalnotice {
  text-align:left;
}

blockquote h3 {
  margin-bottom:-.5em;
}

div.chapter-titlepage,
div.preface-titlepage
{
  text-align:left;
}
div.appendix-titlepage h2,
div.chapter-titlepage h2,
div.preface-titlepage h2 {
  text-rendering: optimizeLegibility;
  color:#369;/* navy */
  text-align:left;
  font-size:280%;
  font-weight:600;
}

div.legalnotice div.informaltable,
div.legalnotice div.informaltable-wrapper,
div.legalnotice div.informaltable table,
div.table-wrapper {
  border-color: #CACACA;
  border-width: 0px;
  border-style:none;
}

/* TOC */
div.toc > dl.toc > dt {
  font-size:100%;
  margin-top:10pt;
}
div.toc > dl.toc > dd > dl.toc > dt {
  font-size:90%;
}
dl.toc {
  margin-top:2pt;
}
div.toc > p,
div.list-of-tables > p,
div.list-of-examples > p,
div.list-of-figures > p {
  margin-bottom:0px;
  font-size:110%;
}
div.toc > p b,
div.list-of-tables > p b,
div.list-of-examples > p b,
div.list-of-figures > p b  {
  font-weight:500;
}

div.preface div.toc dt, 
div.chapter div.toc dt,
div.appendix div.toc dt,
div.part div.toc dt {
     margin-top:inherit;
}

/* Sections */
div.section-titlepage,
div.section-titlepage h2,
div.section-titlepage h4,
div.section-titlepage h5
{
  margin-bottom:2pt;
  font-weight:400;
}

div.section-titlepage h3 {
  font-weight:600;
}

div.appendix div.section-titlepage h3,
div.chapter div.section-titlepage h3,
div.preface div.section-titlepage h3
{
  border-top:1pt dotted gray;
  border-left:none;
  padding-top:0.4em;
  padding-left:0pt;
  text-align:left;
  font-size: 180%;
  /*margin-bottom:-.5em;*/
  text-shadow:2px 2px 4px rgba(0,0,0,0.15);
}
div.section-titlepage h4 {
  font-size:140%;
}

div.section-titlepage h5 {
  font-size:110%;
}

div.section-titlepage + p {
  margin-top:0;
}

/* Lists */
div.variablelist dd p:first-child {
  margin-top:2pt;
}

div.procedure-wrapper div.title,
div.example-wrapper div.title,
div.table-wrapper div.title,
div.itemizedlist div.title
{
  margin-bottom:2pt;
  font-weight:400;
}

div.procedure ol {
  counter-reset:li;
}

div.procedure ol > li {
  list-style:none; /* Disable the normal item numbering */
}
div.procedure ol > li p:first-child {
  margin-top:0;
}
div.procedure ol > li:before {
  content:"Step " counter(li) ":"; /* Use the counter as content */
  counter-increment:li; /* Increment the counter by 1 */
}
div.procedure li ol,
div.procedure li ul {margin-top:6px;}
div.procedure ol ol li:last-child {margin-bottom:0;}


/* Inlines */
p > div.remark {
  display:inline-block;
  color:red;
}

/* Footnotes */
div.footnote p {
  font-size:small;
}
div.footnote p sup {
  vertical-align:baseline;
  font-size:small;
  margin-right:5pt;
}

/* Verbatim */
div.programlisting pre 
{
  margin-top:2pt;
}