div.chapter-navigation
{
  border-top:2px groove #778;
  /*border-style:groove*/
  margin-top:0;
  padding-top:0;
  margin-bottom:-.75em;
  padding-bottom:0;
}
div.chapter-navigation ul
{
  padding: 3px 0;
  margin-left: 0;
}
div.chapter-navigation ul li
{
  list-style:none;
  margin-right:1.5em;
  display:inline;
}