.button {
  display:inline-block;
  outline:none;
  cursor:pointer;
  text-align:center;
  text-decoration:none;
  /*width:30%;*/
  padding: 0.5em 2em .55em;
  text-shadow:0 1px 1px rgba(0,0,0,.3);
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  border-radius:.5em;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  box-shadow:0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
  text-decoration:none;
}
.button:active {
  position:relative;
  top: 1px;
}

.orange {
	color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.orange:hover {
	background: #f47c20;
  background-image: url(icons/application-pdf.png) left bottom no-repeat;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange:active {
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}
/* from(#90A4BB), to(#3B4D62) */
.blue {
	color: #fef4e9;
	border: solid 1px #769AC4;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#90A4BB), to(#3B4D62));
	background: -moz-linear-gradient(top,  #90A4BB,  #3B4D62);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#90A4BB', endColorstr='#3B4D62');
}
.blue:hover {
	background: #3B4D62;
  background-image: url(icons/application-pdf.png) left bottom no-repeat;
	background: -webkit-gradient(linear, left top, left bottom, from(#3B4662), to(#9AB0C8));
	background: -moz-linear-gradient(top,  #3B4662, #9AB0C8);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#3B4662', endColorstr='#9AB0C8');
}
.blue:active {
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#3B4D62), to(#90A4BB));
	background: -moz-linear-gradient(top,  #3B4D62,  #90A4BB);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#3B4D62', endColorstr='#90A4BB');
}
