/*
 * 
 */
@font-face {
  font-family: 'Cabin Sketch';
  font-style: normal;
  font-weight: normal;
  /* url('http://themes.googleusercontent.com/static/fonts/cabinsketch/v4/d9fijO34zQajqQvl3YHRCYnF5uFdDttMLvmWuJdhhgs.ttf') */
  src: url(fonts/Cabin_Sketch/CabinSketch-Regular.ttf);
}
