@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), url(fonts/OpenSans/OpenSans-Light.ttf) format('truetype');
  /*url('http://themes.googleusercontent.com/static/fonts/opensans/v5/DXI1ORHCpsQm3Vp6mXoaTYnF5uFdDttMLvmWuJdhhgs.ttf') */
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Light Italic'), url(fonts/OpenSans/OpenSansLight-Italic.ttf) format('truetype');
  /*url('http://themes.googleusercontent.com/static/fonts/opensans/v5/PRmiXeptR36kaC0GEAetxrfB31yxOzP-czbf6AAKCVo.ttf') */
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), url(fonts/OpenSans/OpenSans-Regular.ttf) format('truetype');
  /*url('http://themes.googleusercontent.com/static/fonts/opensans/v5/cJZKeOuBrn4kERxqtaUH3aCWcynf_cDxXwCLxiixG1c.ttf') */
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), url(fonts/OpenSans/OpenSans-Italic.ttf) format('truetype');
  /*url('http://themes.googleusercontent.com/static/fonts/opensans/v5/xjAJXh38I15wypJXxuGMBp0EAVxt0G0biEntp43Qt6E.ttf') */
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), url(fonts/OpenSans/OpenSans-Semibold.ttf) format('truetype');
  /*url('http://themes.googleusercontent.com/static/fonts/opensans/v5/MTP_ySUJH_bn48VBG8sNSonF5uFdDttMLvmWuJdhhgs.ttf') */
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local('Open Sans Semibold Italic'), url(fonts/OpenSans/OpenSans-SemiboldItalic.ttf) format('truetype');
  /*url('http://themes.googleusercontent.com/static/fonts/opensans/v5/PRmiXeptR36kaC0GEAetxi8cqLH4MEiSE0ROcU-qHOA.ttf') */
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), url(fonts/OpenSans/OpenSans-Bold.ttf) format('truetype');
  /*url('http://themes.googleusercontent.com/static/fonts/opensans/v5/k3k702ZOKiLJc3WVjuplzInF5uFdDttMLvmWuJdhhgs.ttf')*/ 
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), url(fonts/OpenSans/OpenSans-BoldItalic.ttf) format('truetype');
  /*url('http://themes.googleusercontent.com/static/fonts/opensans/v5/PRmiXeptR36kaC0GEAetxp_TkvowlIOtbR7ePgFOpF4.ttf') */
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans Extrabold'), url(fonts/OpenSans/OpenSans-ExtraBold.ttf) format('truetype');
  /*url('http://themes.googleusercontent.com/static/fonts/opensans/v5/EInbV5DfGHOiMmvb1Xr-honF5uFdDttMLvmWuJdhhgs.ttf') */
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: local('Open Sans Extrabold Italic'), url(fonts/OpenSans/OpenSans-ExtraboldItalic.ttf) format('truetype');
  /*url('http://themes.googleusercontent.com/static/fonts/opensans/v5/PRmiXeptR36kaC0GEAetxlDMrAYtoOisqqMDW9M_Mqc.ttf') */
}
