/*
   CSS Stylesheet
   By Thomas Schraitle <tom_schr AT sourceforge DOT net>
   

  darkgray  8c8b84
  lightgray d9d8d2
  anthrazit 59514c
  brown     26130b
  darkrose  a67b77
*/

html {
  margin:0;
  padding:0;
}

body { 
  color: #2c2c2c;
  background: #38485B url(background/bg-content-toms.png) repeat-y center center;
  /*-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/

}

h1, h2, h3, h4, h5 {
  font-family:'Yanone Kaffeesatz', 'DejaVu Sans Condensed', sans;
}

h1 {
  font-size:350%;
  text-shadow : 2px 2px 2px #CCC;
}

h3 {
  font-size:220%;
}

#main {
  margin: 0 4em auto 4em;
  padding-top:0;
}

/* Header and Footer */
#header, #footer { 
  padding: .5em 1.5em .5em 1.5em;
  background-color : rgba(211, 211, 211, .6);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#header {
  margin-top:-1em;
  padding-top:4em;
}

#header h2 {
  line-height:1;
}

#footer {
  margin-top:3.5em;
  margin-bottom:1.1em;
}

#content {
  background-color : #FFF;
  padding:.5em 1.5em;
  -webkit-border-radius : 5px;
  -moz-border-radius : 5px;
  border-radius : 5px;
  -webkit-border-top-left-radius : 0px;
  -moz-border-radius-topleft : 0px;
  border-top-left-radius : 0px;
}


#mission, #intro  {
  float:left;
  width:48%;
  word-wrap:break-word;
}

#mission {
  padding-right:6pt;
}
#intro {
  padding-left:6pt;
}

#formats {
  clear:both;
}

#formats h3 {
  border-top: dotted #38485B 1pt;
}


/* */
#navi {
  text-align : left;
  margin-top:2em;
}
#navi ul {
  width : 100%;
  padding : 0;
  margin : 0;
  list-style : none;
}
#navi li {
  display : inline-block;
  padding : 7px 0 0 0;
  margin : 0 4px 0 0;
  font : bold 81.25% / 2.125Arial, Verdana, sans-serif;
}
#navi li a {
  display : block;
  color : #fff;
  text-decoration : none;
  padding : 10px 20px 10px 20px;
  background : #2c2c2c;
  /* alte webkit-basierte Browser (Safari, Chrome, etc.) */
  background : -webkit-gradient(linear, lefttop, leftbottom, from(#848487), to(#3c3c3c));
  /* neue webkit-basierte Browser(Safari, Chrome, etc.) */
  background : -webkit-linear-gradient(top, #848487, #3c3c3c);
  /* Mozilla/Gecko (Firefox, Flock, etc) */
  background : -moz-linear-gradient(top, #848487, #3c3c3c);
  /* Für Presto (Opera ab Version 11.1) */
  background : -o-linear-gradient(top, #848487, #3c3c3c);
  /* IE10 Pre-Beta */
  background : -ms-linear-gradient(top, #848487, #3c3c3c);
  /* aktueller W3C working draft */
  background : linear-gradient(top, #848487, #3c3c3c);
}
#navi li#active span,
#navi li a {
  -webkit-border-top-right-radius : 5px;
  -webkit-border-top-left-radius : 5px;
  -moz-border-radius-topright : 5px;
  -moz-border-radius-topleft : 5px;
  border-top-right-radius : 5px;
  border-top-left-radius : 5px;
}
#navi li a:hover,
#navi li a:active,
#navi li a:focus {
  /*outline:inset;*/
  /*text-decoration : underline;*/
  color: yellow;
  background-image: linear-gradient(bottom, #38485B 0%, #6682A1 72%);
  background-image: -o-linear-gradient(bottom, #38485B 0%, #6682A1 72%);
  background-image: -moz-linear-gradient(bottom, #38485B 0%, #6682A1 72%);
  background-image: -webkit-linear-gradient(bottom, #38485B 0%, #6682A1 72%);
  background-image: -ms-linear-gradient(bottom, #38485B 0%, #6682A1 72%);
  background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, #38485B),
	color-stop(0.72, #6682A1);
  
}
